.git
*.pyc
__pycache__

# Exclude environment variables
.env

# Exclude database file
db.sqlite3

# Exclude video folder and its contents (use a forward slash for directories)
video/

# Ignore contents of post_images and profile_images
media/post_images/*
media/profile_images/* 

